.parentProfile{
    position: relative;
}

.userProfile{
    display: flex;
    margin: 20px;
    padding: 10px;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color:chartreuse;
}

.item{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.avatarURL {
    width: 100px;
    height: 100px;
}

.fullname, .location {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}